@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
/* font-family: "Work Sans", sans-serif; */
* {
  margin: 0px;
  padding: 0px;
}
#hero {
  height: 735px;
  background: linear-gradient(
      0deg,
      rgba(9.197244644165039, 8.92899227142334, 8.92899227142334, 1),
      rgba(16, 16, 16, 0) 100%
    ),
    url("../assets/hero-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

#hero .hero-content {
  width: 818px;
}

#hero .hero-content .sub-title {
  opacity: 0.8;
  color: rgba(255, 255, 255, 1);

  font-family: Work Sans;
  font-size: 26px;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
}

#hero .hero-content .title {
  color: rgba(255, 255, 255, 1);
  font-family: Work Sans;
  font-size: 50px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0%;
  text-align: center;
  margin-top: 24px;
}

#hero .hero-content .description {
  color: rgba(255, 255, 255, 1);
  opacity: 0.7;
  font-family: Work Sans;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: center;
  margin-top: 20px;
}

.btn-container {
  text-align: center;
  margin-top: 32px;
}

.btn {
  color: rgba(255, 255, 255, 1);

  font-family: Work Sans;
  font-size: 16px;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  border:none;
  border-radius: 8px;
background: rgba(82, 195, 3, 1);
padding: 16px 26px 16px 26px;
cursor: pointer;
}

.card-box {
  width: 1056px;
  margin:0 auto;
}

.card-box .title {
  color: rgba(16, 16, 16, 1);

font-family: Work Sans;
font-size: 36px;
font-weight: 700;
line-height: 50px;
letter-spacing: 0%;
text-align: center;
}

.card-box .sub-title {
  opacity: 0.6;

  color: rgba(16, 16, 16, 1);

font-family: Work Sans;
font-size: 18px;
font-weight: 500;
line-height: 100%;
letter-spacing: 0%;
text-align: center;
}

.card-info {
  margin-top: 134px;
}

.card-container {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  font-family: Work Sans;
  text-align: center;
}

.card {
  width: 324px;
  display: flex;
  flex-direction: column;
  gap:20px;
  justify-content: center;
  align-items: center;
}

.card .image-box {
  width: 100%;
}

.card .image-box img {
  width:324px;
}

.card .shop {
  font-size: 18px;
  border-radius: 8px;
background: rgba(82, 195, 3, 0.15);
  padding: 10px 26px 10px 26px;
}



/* footer styles */

.footer{
  width: 1056px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
margin-left: 220px;
text-align: center;
}


.footer .footer-title {
  color: rgba(16, 16, 16, 1);

font-family: Work Sans;
font-size: 34px;
font-weight: 700;
line-height: 44px;
letter-spacing: 0%;
text-align: center;

}


.footer .footer-sub {
  color: rgba(16, 16, 16, 1);
opacity: 0.6;

font-family: Work Sans;
font-size: 14px;
font-weight: 500;
line-height: 100%;
letter-spacing: 0%;
text-align: center;
margin-top: 18px;
margin-bottom: 36px;
}

.icon-title{
  color: rgba(16, 16, 16, 1);
opacity: 0.7;
font-family: Work Sans;
font-size: 22px;
font-weight: 600;
line-height: 100%;
letter-spacing: 0%;
text-align: center;
margin: 20px 0;
}
